{% load static %}

<footer class="p-3 mb-3 d-flex flex-no-wrap justify-content-between align-items-center border-top">
	<div class="container-fluid">
		<div class="col-md-3 d-flex align-items-center">
			<a href="{% url 'social_app:home' %}" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
				<img class="bi" width="32" height="32" role="img" aria-label="Bootstrap" src="{% static "img/hej-logo.svg"%}" />
			</a>
			<span class="mb-3 mb-md-0 text-body-secondary">© 2024 Hej, Inc</span>
		</div>

		<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
			<li class="ms-3">
				<a class="text-body-secondary" href="https://www.linkedin.com/in/vaishali-jawale-76433122/">
					Vaishali
				</a>
			</li>
			<li class="ms-3">
				<a class="text-body-secondary" href="https://www.linkedin.com/in/szymon-kowalewski-nora/">
					Szymon
				</a>
			</li>
			<li class="ms-3">
				<a class="text-body-secondary" href="https://www.linkedin.com/in/arslanakram123/">
					Arslan
				</a>
			</li>
			<li class="ms-3">
				<a class="text-body-secondary" href="https://www.linkedin.com/in/malahat-mohamadi-3b396024a">
					Malahat
				</a>
			</li>
			<li class="ms-3">
				<a class="text-body-secondary" href="https://www.linkedin.com/in/kristoffer-ekstrand/">
					Kristoffer
				</a>
			</li>
		</ul>
	</div>
</footer>
