{% extends "base/base.html" %} {% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col col-8">
			<h1>{{ user_profile.user.username }}'s Following</h1>

			<!-- Display the list of users this user is following -->
			{% if following_list %}
			<ul>
				{% for follow in following_list %}
				<li>{{ follow.following.user.username }}</li>
				<!-- Display the username of the user being followed -->
				{% endfor %}
			</ul>
			{% else %}
			<p>No following yet.</p>
			{% endif %}
		</div>
		<div class="col"></div>
	</div>
</div>
{% endblock %}
