{% extends "base/base.html" %}

{% block content %}
<div class="container">
    <h1>{{ user_profile.username }} Followers</h1>
    {% if followers_list %}
    <ul>
        {% for follow in followers_list %}
        <li>
            {{ follow.user.username }}
			{% if follow.user != request.user %}
            <form method="POST" action="{% url 'social_app:toggle_follow' user_id=follow.user.id %}" style="display:inline;">
                {% csrf_token %}
                {% if follow.user in request.user.following.all %}
                <button type="submit" class="btn btn-danger">Unfollow</button>
                {% else %}
                <button type="submit" class="btn btn-primary">Follow</button>
            {% if follow.user != request.user %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No followers yet.</p>
    {% endif %}
</div>
{% endblock %}
