{% extends "base/base.html" %} {% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col col-8">
            {% for data in data %}
            <p>Username :{{data.username}}</p>
            <p>user_id: {{data.id}}</p>
            <a href="{% url 'social_app:temp_profile' %}">{{data.username}}</a>
            <p>Email :{{data.email}} </p>
            {% endfor%}
        </div>
        <div class="col"></div>
    </div>
</div>
{% csrf_token %}
{% endblock content %}